@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #000;
    font-feature-settings: 'kern', 'liga';
    -webkit-font-smoothing: antialiased;
  }

  ::selection {
    background-color: #2997ff;
    color: #fff;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
